<div id="reservation-container">
  <h2 class="reservation-title">Les réservations</h2>
  <button mat-raised-button color="primary" (click)="onAdd()">Ajouter</button>
  <button mat-raised-button color="accent" (click)="toggleFilter()">Filter</button>
  <div *ngIf="showFilter">
    <mat-form-field appearance="outline">
      <mat-label>Utilisateur</mat-label>
      <mat-select [(value)]="selectedUserId" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur.id">{{ utilisateur.nom }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div [style.max-height.px]="containerHeight" style="overflow-y: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <!-- Position Column -->
      <ng-container matColumnDef="utilisateurId">
        <th mat-header-cell *matHeaderCellDef>Id de l'utilisateur </th>
        <td mat-cell *matCellDef="let element">{{element.utilisateurId}}</td>
      </ng-container>
      <ng-container matColumnDef="veloId">
        <th mat-header-cell *matHeaderCellDef>Id du velo </th>
        <td mat-cell *matCellDef="let element">{{element.veloId}}</td>
      </ng-container>
      <ng-container matColumnDef="veloName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="getVeloDetails(element.veloId) as veloDetails">
            {{ veloDetails.nom }}
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="veloQuantite">
        <th mat-header-cell *matHeaderCellDef>Quantité</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="getVeloDetails(element.veloId) as veloDetails">
            {{ veloDetails.quantite }}
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="reservation">
        <th mat-header-cell *matHeaderCellDef>Nombre de reservation </th>
        <td mat-cell *matCellDef="let element">{{element.reservation}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="onEdit(element)">Modifier</button>
          <button mat-raised-button color="warn" (click)="onDelete(element)">Supprimer</button>
        </td>
      </ng-container>
      <section>
        <div class="example-label">Flat</div>
        <div class="example-button-row">
          <button mat-flat-button>Basic</button>
          <button mat-flat-button disabled>Disabled</button>
          <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</div>
