/* Conteneur principal */
#table-container {
  background-color: #323232;
  border-radius: 5px;
  max-width: 90%;
  margin: 20px auto;
  overflow: hidden; /* Retirer les barres de défilement */
}

/* Tableau et ajustements */
.demo-table {
  width: 100%;
  border-collapse: collapse;
}

.demo-table th,
.demo-table td {
  padding: 12px;
  border: 1px solid #9d9d9d;
  font-family: 'Poppins', sans-serif;
}

.demo-table th {
  background-color: #5de1ff;
  color: #333;
  font-weight: bold;
}

.demo-table tr:hover {
  background-color: #f2f2f2;
}

/* Ajustement des boutons */
.action-buttons {
  display: flex;
  gap: 10px; /* Ajoute de l'espace entre les boutons */
  justify-content: center; /* Centre les boutons */
}

button {
  min-width: 80px; /* Largeur minimale pour les boutons */
}

/* Media queries pour les petits écrans */
@media screen and (max-width: 768px) {
  #table-container {
      padding: 10px;
  }

  .table-title {
      font-size: 18px;
  }

  .demo-table th,
  .demo-table td {
      font-size: 14px;
      padding: 10px;
  }
}
