<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>

</head>
<body>
<section>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="img Bike Logo">
      <img src="logo.png" alt="Sign In Image" style="width: 30%; height: auto; object-fit: cover;">
    </div>
    <h1 *ngIf="isLoginMode">Login</h1>
    <h1 *ngIf="!isLoginMode">Sign Up</h1>

    <div *ngIf="!isLoginMode" class="inputbox">
      <label for="nom">Nom:</label>
      <input type="text" id="nom" formControlName="nom" placeholder="Enter your name">
      <div *ngIf="form.get('nom')?.invalid && form.get('nom')?.touched" class="error">
        Nom est requis.
      </div>
    </div>
    <div *ngIf="!isLoginMode" class="inputbox">
      <label for="prenom">Prenom:</label>
      <input type="text" id="prenom" formControlName="prenom" placeholder="Enter your surname">
      <div *ngIf="form.get('prenom')?.invalid && form.get('prenom')?.touched" class="error">
        Prenom est requis.
      </div>
    </div>
    <div *ngIf="!isLoginMode" class="inputbox">
      <label for="username">Pseudo:</label>
      <input type="text" id="username" formControlName="username" placeholder="Enter your username">
      <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="error">
        Pseudo est requis.
      </div>
    </div>
    <div class="inputbox">
      <label for="mail">Email:</label>
      <input type="email" id="mail" formControlName="mail" placeholder="Enter your email">
      <div *ngIf="form.get('mail')?.invalid && form.get('mail')?.touched" class="error">
        Email valide est requis.
      </div>
    </div>
    <div class="inputbox">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password">
      <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error">
        Mot de passe est requis.
      </div>
    </div>

    <button type="submit">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
    <div class="Register">
      <p *ngIf="isLoginMode">Don't have an account? <a (click)="switchMode()">Sign Up</a></p>
      <p *ngIf="!isLoginMode">Already have an account? <a (click)="switchMode()">Login</a></p>
    </div>
  </form>
</section>
</body>
</html>
