<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>

  </head>
<body>
<section>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="img Bike Logo">
      <img src="logo.png" alt="Sign In Image" style="width: 30%; height: auto; object-fit: cover;">
    </div>
    <h1 *ngIf="isLoginMode">Login</h1>
    <h1 *ngIf="!isLoginMode">Sign Up</h1>

    <div *ngIf="!isLoginMode" class="inputbox">
      <label for="name">Nom:</label>
      <input type="text" id="name" formControlName="name" placeholder="Enter your name">
    </div>
    <div *ngIf="!isLoginMode" class="inputbox">
      <label for="surname">Prenom:</label>
      <input type="text" id="surname" formControlName="surname" placeholder="Enter your surname">
    </div>
    <div *ngIf="!isLoginMode" class="inputbox">
      <label for="username">Pseudo:</label>
      <input type="text" id="username" formControlName="username" placeholder="Enter your username">
    </div>
    <div class="inputbox">
      <label for="mail">Email:</label>
      <input type="email" id="mail" formControlName="mail" placeholder="Enter your email">
    </div>
    <div class="inputbox">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password">
    </div>
    <button type="submit">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
    <div class="Register">
      <p *ngIf="isLoginMode">Don't have an account? <a (click)="toggleMode()">Sign Up</a></p>
      <p *ngIf="!isLoginMode">Already have an account? <a (click)="toggleMode()">Login</a></p>
    </div>
  </form>
</section>
</body>
</html>
