<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"> </script>

  </head>
<body>
  <section>
    <form>
      <div class="img Bike Logo">
        <img src="logo.png" alt="Sign In Image" style="width: 30%; height: auto ; object-fit: cover;">
      </div>
      <h1>Sign In</h1>
      <div class="inputbox">
<!--        <ion-icon name="person-outline"></ion-icon>-->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="  Enter your name">
      </div>
      <div class="inputbox">
<!--        <ion-icon name="mail-outline"></ion-icon>-->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="  Enter your email">
      </div>
      <div class="inputbox">
<!--        <ion-icon name="lock-closed-outline"></ion-icon>-->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="  Enter your password">
      </div>
      <button>Sign Up</button>
      <div class="Register">
        <p>Already have an account? <a href="Login.html">Login</a></p>
      </div>
    </form>
  </section>


</body>
</html>
