#map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #323232;
    border-radius: 10px;
    
    max-width: 90%;
    margin: 20px auto;
}

.map-title {
    font-size: 24px;
    color: #57dbf3;
    margin-bottom: 15px;
    text-align: center;
}

#map {
    height: 700px;
    width: 100%;
    border: 2px solid #5ae5ea;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    
}

 /* Jsp pq ca marche pas j'ai envie de chialer devant mon pc */
/*leaflet-div-icon{
    background-color: #adebb3;
    color: #333; 
    border: 3px solid #4CAF50;
    border-radius: 50%;
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cluster-icon {
    line-height: 50px;  Match the height 
  }*/
  
