
  .form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2e2e2e;
    box-shadow: 0px 2px 5px rgb(94, 93, 93);
    border-radius: 8px;
    color: white;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #60fcfe;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
    color:#ffffff
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    color: #122ee7
  }
  .save-button {
    background-color: #4CAF50 !important;
    color: white !important;
  }
  
  .back-button {
    background-color: #f44336 !important;
    color: white !important;
  }
  .word {
    color: #60fcfe;
  }
 /* Styles spécifiques pour les champs de formulaire Angular Material */
.mat-form-field-appearance-outline .mat-form-field-label {
  color: white;  /* Couleur des labels en mode 'outline' */
}

input.mat-input-element,
textarea.mat-input-element {
  color: white;  /* Couleur du texte saisi dans les inputs et textareas */
}

/* Placeholder styles */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.6);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.6);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.6);
}

/* Assurez-vous que les labels flottants restent blancs même après interaction */
.mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}

.mat-form-field.mat-focused input.mat-input-element,
.mat-form-field.mat-focused textarea.mat-input-element {
  border-color: white;
}
